@import '../../styles/sizes.scss';
@import '../../styles/palette.scss';

.article {
  padding: 0 20px;
  font-size: 13pt;
  background-color: $color_2;
  height: 100%;

  .article-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid $color_5;
    background-color: $color_2;
    text-decoration: none;

    a {
      width: 100%;
      display: flex;
      text-decoration: none;
      
      .article-item-info {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
  
        .info-title {
          font-weight: 700;
          padding: 0 10px 0 0;
          color: $color_3;
        }
  
        .info-author {
          color: $color_4;
        }
      }
  
      .article-item-date {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color_3;
      }
    }

    .article-item-option {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;

      .fa-trash-alt {
        display: none;
      }
    }

    &:hover > .article-item-option > .fa-trash-alt {
      display: block;
    }

    &:hover {
      background-color: $color_6;
    }
  }

  .article-image {
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;

    img {
      height: 70%;
      width: 70%;
    }

    p {
      padding: 50px 0 0 0;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: $phone_size) {

}

