<div class="article">
  <div class="article-item" *ngFor="let article of articles">
    <a a href="{{ article.storyUrl }}" target="_blank" rel="noopener noreferrer">
      <div class="article-item-info">
        <p class="info-title">{{ (!article.title) ? article.storyTitle : 'No disponible'}}</p>
        <p class="info-author">- {{ article.author }} -</p>
      </div>

      <div class="article-item-date">
        <p>{{ article.createdAt | date:'short' }}</p>
      </div>
    </a>
    <div class="article-item-option">
      <i *ngIf="article.id != null" class="far fa-trash-alt" (click)="blockArticle(article)"></i>
    </div>
  </div>
  <div class="article-image" *ngIf="articles.length == 0">
    <img src="./../../../assets/images/empty.svg" alt="empty">
    <p>There is no news available :(</p>
  </div>
</div>
