<div class="home">
  <div class="home-header">
    <h1>HN Feed</h1>
    <h3>We <i class="fas fa-heart"><a href="#"></a></i> hacker news!</h3>
  </div>
  <div class="home-body">
    <app-article></app-article>
  </div>
  <div class="home-footer">
    <footer class="footer">
      <p>Developed with
        <i class="fas fa-heart"><a href="#"></a></i> by <span>Felipe Vergara</span>
      </p>
    </footer>
  </div>
</div>