@import '../../styles/palette.scss';
@import '../../styles/sizes.scss';

.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .home-header {
    padding: 0 0 0 40px;
    background-color: $color_1;
    display: flex;
    height: 25%;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin: 0;
      font-size: $xxl;
      font-weight: $xl;
    }

    h3 {
      font-size: 30px;
      margin: 0;

      i {
        color: $color_7;
      }
    }
  }

  .home-body {
    background-color: $color_2;
    overflow-y: auto;
    height: 70%;
  }

  .home-footer {
    background-color: $color_8;
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .footer {
      text-align: center;
      width: 100%;

      p {
        margin: 0;
        padding: 0;
        color: $color_2;

        span {
          font-weight: 700;
        }
        
        i {
          color: $color_7;
        }
      }
    }
  }
}

@media screen and (max-width: $phone_size) {
  .home {
    .home-header {
      h1 {
        font-size: $l;
      }

      h3 {
        font-size: $m;
        margin: 0;
  
        i {
          color: $color_7;
        }
      }
    }

    .home-footer {
     .footer {
       p {
         font-size: $s;
       }
     } 
    }
  }
}
